body {
  background-color: #c77800;
background: url("img/party.jpg")  no-repeat center center fixed;



}


 header {
  display: block;
  background-color: #dc3545;
  color: white;
  text-align: center;
  font-family: 'Jua', sans-serif;
  opacity: 0.9;
  filter: alpha(opacity=60);


}

h2 {
  font-size: 40px;
}



label {
  color: #c77800;

}
.globo{
width: 84px;
}

.globor {
  float: right;
}

#formulary {
background-color: #52bdae;
/*margin-left: -3px; */
text-align: center;
font-family: 'Gloria Hallelujah', cursive;
font-size: 24px;
opacity: 0.9;
filter: alpha(opacity=60);

}

p {
font-family: 'Gloria Hallelujah', cursive, bold;
font-size: 20px;
color: white;
text-align: justify;
background: #dc3545;
opacity: 0.9;
filter: alpha(opacity=60);
padding: 10px;
 /*margin-left: -2px;*/
}
